@keyframes clickAnimation {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(10px);
    opacity: 0.5
  }
  100% {
    transform: translateY(15px);
    opacity: 0;
  }
}